<%= render 'partials/section_title', title: 'Current bookings' %>
<div
  class="
    p-10
    grid
    grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
  "
>
  <% @current_bookings.each do |b| %>
    <%= link_to(b) do %>
      <%= render 'card', b: b %>
    <% end %>
  <% end %>
</div>

<%= render 'partials/section_title', title: 'Future bookings' %>
<div
  class="
    p-10
    grid
    grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
  "
>
  <% @future_bookings.each do |b| %>
    <%= link_to(b) do %>
      <%= render "card", b: b %>
    <% end %>
  <% end %>
</div>

<%= render 'partials/section_title', title: 'Past bookings' %>
<div
  class="
    p-10
    grid
    grid-cols-1
    sm:grid-cols-1
    md:grid-cols-4
    lg:grid-cols-4
    xl:grid-cols-4
    gap-5
  "
>
  <% @past_bookings.each do |b| %>
    <%= link_to(b) do %>
      <%= render "card", b: b %>
    <% end %>
  <% end %>
</div>
