<div class="block rounded-lg p-4 shadow-sm shadow-indigo-100">

  <div class="mt-2">
    <dl>
      <div>

        <dd class="text-sm text-gray-500"><%= @booking.guests_count %>
          guests
        </dd>
      </div>

      <div>
        <dd class="font-medium">Check-in
          <%= @booking.start_at %></dd>
      </div>
      <div>
        <dd class="font-medium">Checkout
          <%= @booking.end_at %></dd>
      </div>
    </dl>

    <div class="mt-6 flex items-center gap-8 text-sm">
      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">

        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-500">Status:
            <%= @booking.status %></p>
        </div>
      </div>
    </div>
    <% if @booking.has_comment? %>
      <div class="mt-6 flex items-center gap-8 text-sm">
        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
          <div class="mt-1.5 sm:mt-0">
            <p class="text-gray-500">Comment:
              <%= @booking.comment %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if @booking.status == 'pending' %>
  <div class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
    <div class="mt-2">
      <dl>
        <div>
          <%= link_to link_text,
          link_path(@booking),
          class:
            "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </dl>
    </div>
  <% end %>
