<div class="signup">
  <div class="container">
    
    <%= form_with model: @user do |f| %>

      <%= f.label "Your role" %>
      <%= f.select :role, ['owner', 'guest'] %>

      <%= f.text_field :first_name, placeholder: "First name" %>

      <%= f.text_field :last_name, placeholder: "Last name" %>

      <%= f.email_field :email, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.submit "Signup", class: "btn-submit" %>
    <% end %>

  </div>
</div>