<div class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
  <div class="mt-2">
    <dl>
      <div>
        <dt class="sr-only">Price</dt>

        <dd class="text-sm text-gray-500">$<%= @property.price %>,00 / night</dd>
      </div>

      <div>
        <dt class="sr-only">Address</dt>

        <dd class="font-medium"><%= @property.city %>,
          <%= @property.country %></dd>
      </div>
    </dl>

    <div class="mt-6 flex items-center gap-8 text-xs">
      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">

        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">

          <div class="mt-1.5 sm:mt-0">
            <p class="text-gray-500"><%= @property.baths %>
              Bathrooms</p>
          </div>
        </div>

        <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">

          <div class="mt-1.5 sm:mt-0">
            <p class="text-gray-500"><%= @property.bedrooms %>
              Bedrooms</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @property.images.attached? %>
    <% @property.images.each do |i| %>
      <%= image_tag i, class: "h-auto w-full rounded-md object-cove mt-5" %>
    <% end %>
  <% else %>
    <%= image_tag define_image_url(@property)%>
  <% end %>

  <% if current_user %>
    <% if current_user.guest? %>
      <%= render 'button', link_text: 'Reserve', path: new_booking_path(id: @property.id) %>
    <% end %>

    <% if @property.user_id == current_user.id %>
      <div class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
        <div class="mt-2">
          <div class="flex">
            <%= link_to "Show booking requests",
          bookings_path(property_id: @property.id),
          class:
            "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-2" %>
            <%= link_to "Edit",
          edit_property_path(@property.id),
          class:
            "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-2" %>
            <%= button_to "Delete",
          property_path(@property),
          method: :delete,
          class:
            "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>

        </div>
      </div>

    <% end %>
  <% else %>
    <%= render 'button', link_text: 'Click here to login if you want to book a property', path: login_path %>
  <% end %>
