<%= form_with(model: review, class: "contents") do |form| %>
  <%= render 'partials/validation_errors', model: review %>

  <%= form.hidden_field :user_id, value: current_user.id, readonly: true %>
  <%= form.hidden_field :property_id, value: @property.id, readonly: true %>
  <div class="my-5">
    <%= form.label :rating %>
    <%= form.select :rating,
                [1, 2, 3, 4, 5],
                class:
                  "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div class="my-5">
    <%= form.label :message %>
    <%= form.text_area :message,
                   rows: 4,
                   class:
                     "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class:
                  "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
